$color-header-background: #2d303a;
$color-logo-text: #ffffff;
$color-logo_highlight-text: #f06c64;
$color-delimiter-text: #767e9e;
$color-navbar-text: #ffffff;
$color-navbar-item-active-text: #f06c64;
$color-navbar-item-hover: #acacac;
$color-header-bottom-line: #323746;

$color-slider-background: #f06c64;
$color-slider-bottom-line: #ea676b;

$color-services-background: #f2f2f2;
$color-services-header-text: #666d89;
$color-services-main-text: #767e9e;
$color-services-subheader-text: #666d89;
$color-services-content-text: #767e9e;
$color-services-bottom-line: #ffffff;

$color-portfolio-background: #2d303a;
$color-portfolio-header: #666d89;
$color-portfolio-text: #767e9e;
$color-tag-text: #767e9e;
$color-tag-border: #666d89;
$color-tag-active: #dedede;
$color-tag-hovered: #f06c64;

$color-portfolio-bottom-line: #323746;

$color-about-us-background: #f2f2f2;
$color-about-us-header: #666d89;
$color-about-us-text: #767e9e;
$color-about-us-bottom-line: #ffffff;

$color-contact-us-background: #f06c64;
$color-contact-us-header: #666d89;
$color-contact-us-text: #f0d8d9;
$color-contact-us-form-background: #d6564f;
$color-contact-us-form-text: #f48c8f;
$color-contact-us-form-focus: #ba4c46;
$color-contact-us-form-valid: #99f5c5;
$color-contact-us-form-submit: #d6564f;
$color-contact-us-contacts: #f0d8d9;
$color-contact-us-bottom-line: #ea676b;

$color-footer-background: #2d303a;
$color-footer-color: #5b6179;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-width: 320px;
