@font-face {
    font-family: Montserrat-Black;
    src: url('assets/fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('assets/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url('assets/fonts/Montserrat-Semibold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('assets/fonts/Montserrat-Semibold.ttf');
}