%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'Black', Arial, sans-serif;
}

%font-light {
    font-family: 'Light', Arial, sans-serif;
}

%font-semibold {
    font-family: 'Semibold', Arial, sans-serif;
}

%font-bold {
    font-family: 'Bold', Arial, sans-serif;
}

%font-regular {
    font-family: 'Regular', Arial, sans-serif;
}
