%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'Montserrat-Black', Arial, sans-serif;
}

%font-light {
    font-family: 'Montserrat-Light', Arial, sans-serif;
}

%font-semibold {
    font-family: 'Montserrat-Semibold', Arial, sans-serif;
}

%font-bold {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
}

%font-regular {
    font-family: 'Montserrat-Regular', Arial, sans-serif;
}
