/*.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 auto;
}*/

.navigation {
    padding-top: 40px;
}

.search-container {
    padding-top: 40px;
}


.dropdown-item {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;

    > a {
        color: #fff;
        text-decoration: none;
    }
}

.dropdown-item:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;

    > a {
        color: #fff;
        text-decoration: none;
    }
}

.dropdown-item:focus, .dropdown-item.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);

    > a {
        color: #fff;
        text-decoration: none;
    }
}

/*.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}*/

/*.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}*/

.dropdown-menu {
    padding: 0rem;
}

.btn {
    height: 44px;
}

.btn-group {
    margin-right: 10px;
}

.btn-refresh,.btn-degree {
    width: 44px;
    padding-left:5px;
}

.btn-lang {
    width: 60px;
    //padding-left: 5px;
}

.form-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.form-group > input {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 44px;
}

.form-group > input:not(:first-child) {
    margin-left: -1px;
}

.form-group > input:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group > input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}