html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    color: white;
    background-image: linear-gradient(rgba(8, 15, 26, 0.59) 100%, rgba(17, 17, 46, 0.46) 100%), url(assets/background.jpg);
}

.hide {
    height:0;
    display: none;
}

.bottom-line {
    display: flex;
    height: 6px;
}

.button-icon {
    width: 32px;
    height: 32px;
}

.btn-secondary {
    color: #fff;
   // background-color: #6c757d;
    border-color: #6c757d;
}

.btn-selected {
    background-color: red !important;
}