.wrapper {
    max-width: $content-width;
    margin: auto;
    padding: 0 73px;
    
    @include media-tablet {
        padding: 0 10px;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.column-left {
    display: flex;
    position: relative;
    margin-left: 0;

    @include media-laptop {
        flex-basis: 53%;
    }

    @include media-tablet {
        flex-basis: 100%;
    }

    @include media-mobile {
        flex-basis: 100%;
    }
}

.column-right {
    display: flex;
    position: relative;
    margin-right: 0;

    @include media-laptop {
        flex-basis: 38%;
    }

    @include media-tablet {
        flex-basis: 100%;
    }

    @include media-mobile {
        flex-basis: 100%;
    }
}

