.wrapper {
    max-width: $content-width;
    margin: auto;
    padding: 0 73px;
    /*@include media-laptop {
        padding: 0 30px;
    }*/

}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 auto;
}

.column-left {
    display: flex;
    position: relative;
    margin-left: 0;

    /*text-align: center;*/
    
    @include media-laptop {
        flex-basis: 60%;
    }

    @include media-tablet {
        flex-basis: 100%;
    }

    @include media-mobile {
        flex-basis: 100%;
    }
}

.column-right {
    display: flex;
    position: relative;
    margin-right: 0;

    /*text-align: center;*/
    @include media-laptop {
        flex-basis: 40%;
    }

    @include media-tablet {
        flex-basis: 100%;
    }

    @include media-mobile {
        flex-basis: 100%;
    }
}